tbody tr:nth-child(odd) {
    background-color: whitesmoke;
}

.listContainer {
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tableRow {
    cursor: pointer;
        
    &:hover::before {
        transform: scale(1.1);
    }
   
    &:hover {
        box-shadow: 0 0 5px darkgray;
    }
}

.trendCell {
    &.blue {
        background-color: darkblue;
    }
    &.red {
        background-color: darkred;
    }
    &.green {
        background-color: darkgreen;
    }
}

.naveContainer {
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}

.naveButton {
    background-color: whitesmoke;
}
